/*Style for body*/

body {
    margin: 0;
    position: relative;
    background-image: url("Assets/border.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

/*Mobile nav bar*/

.logo h1 {
    font-size: 1.5rem;
}

/*"Faux Cafe Mozart" title*/

.maintitle {
    height: 300px;
    width: 100%;
    text-align: center;
    color: white;
    padding: 25px;
}

/*Main title with text underneath*/

.maintitle h1 {
    font-size: 7rem;
    text-shadow: 0.05em 0 black,
    0 0.05em black,
    -0.05em 0 black,
    0 -0.05em black,
    -0.05em -0.05em black,
    -0.05em 0.05em black,
    0.05em -0.05em black,
    0.05em 0.05em black;
}

.maintitle p {
    font-size: 1.75rem;
    background: red;
    text-shadow: 0.05em 0 black,
    0 0.05em black,
    -0.05em 0 black,
    0 -0.05em black,
    -0.05em -0.05em black,
    -0.05em 0.05em black,
    0.05em -0.05em black,
    0.05em 0.05em black;
}

/*Regular nav bar*/

.nav-container {
    width: 85%;
    margin:auto;
}

.topnav {
overflow: hidden;
background-color: #212931;
height: 70px;
}

.topnav a {
height: 75px;
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 2.5rem;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}

.topnav a.active {
background-color: white;
color: black;
}

.topnav-right {
float: right;
color: white;
}

/*Main container*/

.main {
    width: 85%;
    height: 100%;
    margin: auto;
    background-color: white;
    color: black;
}

.whole {
    position: relative;
}

/*This is the styling for menu page*/

.carousel-caption h3 {
    font-size: 3rem;
    text-shadow: 0.05em 0 black,
    0 0.05em black,
    -0.05em 0 black,
    0 -0.05em black,
    -0.05em -0.05em black,
    -0.05em 0.05em black,
    0.05em -0.05em black,
    0.05em 0.05em black;
  }

/*Secondary container*/

.container2 {
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }

/*Container for tabs*/

  .mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 50px auto;
    padding: 25px;
}

.mytabs input[type="radio"] {
    display: none;
}

.mytabs label {
    padding: 25px;
    background: #e2e2e2;
    font-weight: bold;
}

.mytabs .tab {
    width: 100%;
    padding: 20px;
    background: #212931;
    color: white;
    order: 1;
    display: none;
}

.mytabs .tab h2 {
    font-size: 3em;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
}

.mytabs input[type="radio"]:checked + label {
    background: #fff;
}

/*Beginning of menu*/

.items {
    background: #212931;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
    box-sizing: border-box;
  }

ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*Footer*/

.footer {
    overflow: hidden;
    background-color: #212931;
    height: 70px;
    text-align: center;
    color: white;
    padding-top: 10px;
}

/*Media Query*/

@media screen and (min-width: 0px) and (max-width: 732px) {
    .topnav {display: none;}

    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;

  }
  body  {
      font-family: 'Arial' , sans-serif;
  }
  nav {
      background: #212931;
      color: #fff;
      display: flex;
      justify-content: space-between;
  }
  nav .mainMenu {
      display: flex;
      list-style: none;
  }
  nav .mainMenu li a {
      display: inline-block;
      padding: 15px;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      font-size: 1.5rem;
  }
  nav .mainMenu li a:hover {
      background: rgb(255,94,0);
  }
  nav .openMenu {
      font-size: 2rem;
      margin: 20px;
      display: none;
      cursor: pointer;
  }
  nav .mainMenu .closeMenu , .icons i {
      font-size: 2rem;
      display: none;
      cursor: pointer;
  }
  .fa-facebook:hover {color: rgb(0, 110, 255);}
  .fa-instagram:hover {color: rgb(255, 0, 191);}

  nav .logo {
      margin: 6px;
      font-size: 25px;
      cursor: pointer;
  }

@media(max-width: 800px){
      nav .mainMenu {
          height: 100vh;
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 10;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background: #212931;
          transition: top 1s ease;
          display: none;
      }
      nav .mainMenu .closeMenu {
          display: block;
          position: absolute;
          top: 20px;
          right: 20px;

      }
      nav .openMenu {
          display: block;
      }
      nav .mainMenu li a:hover {
          background: none;
          color: rgb(255, 123, 0);
          font-size: 1.6rem;
      }
      .icons i {
          display: inline-block;
          padding: 12px;
      }
  }

}
@media screen and (min-width:733px) and (max-width:2500px) {
  nav {display: none;}
}